.main {
  padding: 50px 100px;
  .body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1464px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: fit-content;
  &.inputting {
    row-gap: 9px;
    .video p,
    .stamp-form,
    .word-list {
      display: none;
    }

    .player-container {
      margin-top: -30px;
      width: 710px;
      height: 430px;
      white-space: nowrap;
      .player {
        width: 670px;
        height: 390px;
      }
    }
  }
}

.video {
  display: flex;
  column-gap: 42px;

  .words {
    width: 452px;
  }
}

.row {
  display: flex;
}

.player-container {
  width: 970px;
  height: 550px;
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  p {
    margin-top: 11px;
    margin-left: 23px;
    color: #0a93f5;
    font-size: 33px;
    font-weight: 600;
    line-height: 28px;
    white-space: nowrap;
  }
  .row {
    column-gap: 40px;
  }
  .player {
    display: flex;
    align-items: flex-end;
    width: 690px;
    height: 450px;
  }
  .stamps {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    .timer {
      display: flex;
      align-items: center;
      column-gap: 10px;
      color: #333;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0.9px;
      white-space: pre-wrap;
      text-align: left;
    }
  }
}
